# ----------------------------------------
# Python cache
# ----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------------------
# pytest cache
# ----------------------------------------
.pytest_cache/

# ----------------------------------------
# Allure results & report
# (CI will generate these folders, never commit)
# ----------------------------------------
allure-results/
allure-report/

# ----------------------------------------
# VSCode settings
# ----------------------------------------
.vscode/

# ----------------------------------------
# Excel / temp files
# ----------------------------------------
*.xlsx~
*.tmp
desktop.ini

# ----------------------------------------
# OS files
# ----------------------------------------
.DS_Store
Thumbs.db
