name: Run Pytest + Allure + Deploy

on:
  push:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
    # ------------------------
    # Checkout
    # ------------------------
    - name: Checkout code
      uses: actions/checkout@v4

    # ------------------------
    # Python
    # ------------------------
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: pip install -r requirements.txt

    # ------------------------
    # Run tests
    # ------------------------
    - name: Run Pytest
      run: |
        pytest --alluredir=allure-results || true

    # ------------------------
    # Install Allure CLI
    # ------------------------
    - name: Install Allure CLI
      run: |
        wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.tgz
        tar -xzf allure-2.29.0.tgz
        sudo mv allure-2.29.0 /opt/allure
        sudo ln -s /opt/allure/bin/allure /usr/bin/allure

    # ------------------------
    # Generate Allure HTML
    # ------------------------
    - name: Generate Allure HTML
      run: allure generate allure-results -o allure-report --clean

    # ------------------------
    # Upload report to GitHub Pages
    # ------------------------
    - name: Upload Allure Report
      uses: actions/upload-pages-artifact@v3
      with:
        path: allure-report

  deploy:
    needs: tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
