name: QA Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest allure-pytest

    - name: Run tests with Allure
      run: |
        pytest --alluredir=allure-results

    - name: Upload Allure Results Artifact
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: allure-results

    # ----------- Publish Allure report to GitHub Pages ------------
    - name: Generate Allure Report
      run: |
        pip install allure-python-commons
        pip install allure-pytest
        npm install -g allure-commandline --save-dev

    - name: Build Allure HTML
      run: |
        allure generate allure-results --clean -o allure-report

    - name: Upload Allure report to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./allure-report

    # ----------------- Slack Notification -----------------
    - name: Send Slack Notification
      if: always()
      shell: bash
      run: |
        REPORT_URL="https://qademoslayer.github.io/qa-automation-cloud-demo"
        
        if [ "${{ job.status }}" = "success" ]; then
            COLOR="#00FF00"
            STATUS="PASSED"
        else
            COLOR="#FF0000"
            STATUS="FAILED"
        fi

        curl -X POST -H 'Content-type: application/json' \
        --data "{
          \"attachments\": [
            {
              \"color\": \"$COLOR\",
              \"title\": \"QA Automation Test Results: $STATUS\",
              \"text\": \"Allure Report: $REPORT_URL\nBranch: ${{ github.ref }}\nCommit: ${{ github.sha }}\",
              \"mrkdwn_in\": [\"text\"]
            }
          ]
        }" \
        ${{ secrets.SLACK_WEBHOOK_URL }}
