name: QA Cloud Pipeline

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  qa-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-html allure-pytest
          pip install allure-python-commons

      - name: Install Allure CLI
        run: |
          sudo apt update
          sudo apt install -y openjdk-17-jre wget unzip
          wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.29.0/allure-commandline-2.29.0.zip -O allure.zip
          unzip allure.zip -d /opt/
          sudo ln -s /opt/allure-2.29.0/bin/allure /usr/bin/allure
          allure --version

      - name: Run Pytest
        run: |
          mkdir -p allure-results
          pytest -vv --alluredir=allure-results --clean-alluredir || true
          echo "Pytest completed."

      - name: Generate Allure Report
        run: |
          allure generate allure-results --clean -o allure-report || true
          if [ ! -f "allure-report/index.html" ]; then
            echo "REPORT_EXISTS=false" >> $GITHUB_ENV
          else
            echo "REPORT_EXISTS=true" >> $GITHUB_ENV
          fi

      - name: Deploy Allure Report to GitHub Pages
        if: env.REPORT_EXISTS == 'true'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages

      - name: Slack Notification
        if: always()
        run: |
          STATUS="${{ job.status }}"
          curl -X POST -H 'Content-type: application/json' \
          --data "{
            \"text\": \"QA Pipeline: $STATUS\nAllure Report: https://qademoslayer.github.io/qa-automation-cloud-demo/\"
          }" \
          ${{ secrets.SLACK_WEBHOOK_URL }}
